  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: rgb(187, 97, 214);
    padding: 15px;
}

header p {
    padding: 15px;
}

button {
    background-color: rgb(45, 7, 116);
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px 25px;
}

button:hover {
    background-color: rgb(187, 97, 214);
}

.startScreen h1 {
    text-align: center;
    margin: 40px auto 10px;
}

.startScreen p {
    text-align: center;
    margin: 20px auto;
    font-size: 25px;
}

.startScreen button {
    display: block;
    text-align: center;
    margin: 10px auto;
    font-size: 25px;
}

.quizScreen {
  margin: 40px 100px 20px 250px;
}

.quizScreen p {
    font-style: italic;
    color: lightgray;
    border-top: 2px solid lightgray;
}

.buttonDiv {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
}

.buttonDiv button {
    width: 33%;
    text-align: left; 
}

.gameOver {
    width: 30%;
    margin:  0 auto;
    text-align: left;
    line-height: 1.5;
}

.gameOver p {
    font-size: 20px;
}

.gameOver p button {
    padding: 5px 25px;
}

.gameOver p input {
    font-size: 20px;
}